*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none}

html, body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: rgb(235,235,235);
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  padding: 2rem;
  background-color: rgb(79, 45, 153);
}

.header__container {
    display: flex;
    align-items: flex-end;
    gap: 6rem;
}
@media (max-width: 992px) {
  .header__container {
    gap: 3rem;
  }
}

.header__ul {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.22rem;
}
@media (max-width: 705px) {
  .header__ul {
    gap: 1rem;
  }
}
@media (max-width: 585px) {
  header {
    padding: 1rem 2rem;
  }
  .header__container {
    gap: 0;
    justify-content: space-between;
  }
  .header__ul {
    display: none;
  }
}

.header__ul__link {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.06rem;
  transition: color 0.3s ease;
}
.header__ul__link:hover {
  color: rgb(250, 255, 148);
}
.header__ul__link_chosen {
  font-family: 'DM Sans', sans-serif;
  color: rgb(250, 255, 148);
  font-weight: 600;
  font-size: 1.06rem;
  transition: color 0.3s ease;
}
.header__ul__link_chosen:hover {
  color: rgb(210, 214, 124);
}

.burger__menu {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32, 0.98);
  padding-top: 12rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.burger__menu.active {
  opacity: 1;
  visibility: visible;
}
.burger__ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
}
.burger__ul__link {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2rem;
  transition: color 0.3s ease;
}
.burger__ul__link:hover {
  color: rgb(250, 255, 148);
}
.burger__ul__link_chosen {
  color: rgb(250, 255, 148);
  font-weight: 600;
  font-size: 2rem;
  transition: color 0.3s ease;
}
.burger__ul__link_chosen:hover {
  color: rgb(210, 214, 124);
}
.burger__exitButton {
  color: #fff;
  background-color: rgb(0,0,0,0);
  font-size: 5rem;
  transition: color 0.3s ease;
}
.burger__exitButton:hover {
  color: rgb(250, 255, 148);
}
.burger__exitButton:active {
  color: rgb(249, 237, 20);
}
@media (max-width: 585px) {
  .burger {
    justify-self: flex-end;
    align-self: center;
    z-index: 3;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: 20px;
  }

  .burger span,
  .burger::before,
  .burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    content: "";
  }

  .burger:hover span,
  .burger:hover::before,
  .burger:hover::after {
    background-color: rgb(250, 255, 148);
  }

  .burger::before {
    top: 0;
  }

  .burger span {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger::after {
    bottom: 0;
  }
}


.logo {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}
.logo__text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.02em;
}
.logo__smallerpart {
    letter-spacing: -0.02em;
    font-size: 1.7rem;
}
.logo__icon {
    width: 32px;
    height: 38px;
}
@media (max-width: 992px) {
  .logo__text {
    font-size:1.8rem;
  }
  .logo__smallerpart {
    font-size: 1.3rem;
  }
  .logo__icon {
    width: 28px;
    height: 33px;
  }
}


.banner {
  background: linear-gradient(135deg, #ffcc33, #ff9b00, #ff6f00);
  background-size: 300% 300%;
  animation: gradientFlow 7s ease-in-out infinite;
  padding: 1rem 0;
  padding-left: 15rem;
  display: flex;
  align-items: center;
  gap: 7rem;
}
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.banner__text {
  color: rgb(247, 247, 247);
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}
.banner__secondtext {
  color: rgb(247, 247, 247);
  font-weight: 800;
  font-size: 4.5rem;
}
@media (max-width: 992px) {
  .banner__text {
    font-size: 2.5rem;
  }
  .banner__secondtext {
    font-size: 4rem;
  }
}
@media (max-width: 565px) {
  .banner__text {
    font-size: 2rem;
  }
  .banner__secondtext {
    font-size: 3.5rem;
  }
}


.products__container {
  padding: 0 15rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
@media (max-width: 1390px) {
  .products__container {
    padding: 0 10rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
  .banner {
    padding-left: 10rem;
  }
}
@media (max-width: 1147px) {
  .products__container {
    padding: 0 5rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
  .banner {
    padding-left: 5rem;
  }
}
@media (max-width: 988px) {
  .products__container {
    padding: 0 2rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
  .banner {
    padding-left: 2rem;
  }
}
@media (max-width: 628px) {
  .banner {
    padding-left: 0.5rem;
  }
}
@media (max-width: 608px) {
  .products__container {
    padding: 0 6rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 593px) {
  .banner {
    gap: 3rem;
  }
}
@media (max-width: 559px) {
  .products__container {
    padding: 0 3rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 428px) {
  .products__container {
    padding: 0 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  } 
}
@media (max-width: 480px) {
  .banner {
    gap: 0.5rem;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}
.products__title {
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(49, 49, 49);
  margin-bottom: 0.5rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background: #fff;
  padding: 1.5rem 2.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
@media (max-width: 1266px) {
  .product-card {
    padding: 1.5rem 2rem;
  }
}
.product-img {
    height: 180px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-text {
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(49, 49, 49);
}
.product-price {
  min-height: 2.5rem;
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(49, 49, 49);
}
.product-prevpriceblock {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}
@media (max-width: 991px) {
  .product-prevpriceblock {
    padding-top: 0.2rem;
  }
}
.product-prevprice {
  text-decoration: line-through;
  color: rgb(122, 122, 122);
}
.product-sale {
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(49, 49, 49);
}
.product-button {
  text-align: center;
  background-color: rgb(79, 45, 153);
  color: rgb(255,255,255);
  border-radius: 50px;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 800;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.product-button:hover {
  background-color: rgb(50, 28, 99);
  color: rgb(250, 255, 148);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
}
.pagination__arrow {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(79, 45, 153);
    transition: color 0.2s ease, transform 0.2s ease;
}
.pagination__arrow:hover {
    color: rgb(50, 28, 99);
    transform: scale(1.2);
}


footer {
  background-color: rgb(79, 45, 153);
  padding: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}



.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 11rem;
}
.auth__title {
  font-weight: 800;
  font-size: 2.6rem;
  color: rgb(49, 49, 49);
}
.auth__form {
  margin-top: 1.5rem;
  padding: 2.5rem 5rem;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.auth__namecontainer {
  display: flex;
  gap: 0.8rem;
}
.auth__inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.auth__label {
  font-size: 1.2rem;
  color: rgb(101, 101, 101);
  margin-left: 0.3rem;
}
.auth__input {
  border-radius: 8px;
  width: 18rem;
  height: 2.3rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(210, 210, 210);
}
.auth__input-error {
  border: 1px solid rgb(255, 0, 0);
}
.auth__input::placeholder {
  color: rgb(148, 148, 148);
}
.auth__password-wrapper {
    position: relative;
    width: 100%;
}
.auth__password-showPwdButton {
    position: absolute;
    right: -1.7rem;
    top: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.auth__pwdinfo {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  color: rgb(82, 82, 82);
  font-weight: 800;
  margin-left: 0.3rem;
  max-width: 16rem;
}
.auth__cardtopinputcontainer {
  margin-top: 0.5rem;
}
.auth__cardbottominputcontainer {
  max-width: 18rem;
  display: flex;
  justify-content: space-between;
}
.auth__cardbottominputcontainer div {
  width: 48%;
  justify-content: flex-start;
}
.auth__cardbottominput {
  width: 100%;
}
.auth__checkboxcontainer {
  max-width: 18rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.2rem;
  gap: 0.5rem;
}
.auth__checkbox {
  width: 1.3rem;
  height: 1.3rem;
}
.auth__checkboxlabel {
  max-width: 15rem;
  font-size: 1.1rem;
  color: rgb(101, 101, 101);
}
.checkboxerror {
  flex: 1;
}
.auth__button {
  margin-top: 0.6rem;
  border-radius: 15px;
  background-color: rgb(79, 45, 153);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.auth__button:hover {
  background-color: rgb(50, 28, 99);
  color: rgb(250, 255, 148);
}

.validation-error {
  font-size: 1.1rem;
  color: rgb(239, 2, 2);
  margin-left: 0.3rem;
  max-width: 18rem;
}

@media (max-width: 980px) {
  .auth__title {
    font-size: 2.2rem;
  }
  .auth {
    padding-top: 2.4rem;
    padding-bottom: 8rem;
  }
  .auth__form {
    padding-top: 1.8rem;
    gap: 0.6rem;
    padding: 2.5rem 3rem;
  }
}
@media (max-width: 520px) {
  .auth__form {
    padding: 1.5rem 1.5rem;
  }
  .auth__password-showPwdButton {
    right: -1.6rem;
  }
}
@media (max-width: 340px) {
  .auth__input {
    width: 16rem;
  }
  .auth__cardbottominput {
    width: 100%;
  }
  .auth__cardbottominputcontainer {
    max-width: 16rem;
  }
  .auth__checkboxcontainer {
    max-width: 16rem;
  }
  .auth__checkboxlabel {
    max-width: 13rem;
  }
  .validation-error {
    max-width: 16rem;
  }
}
@media (max-width: 310px) {
  .auth__input {
    width: 14rem;
  }
  .auth__cardbottominput {
    width: 100%;
  }
  .auth__cardbottominputcontainer {
    max-width: 14rem;
  }
  .auth__checkboxcontainer {
    max-width: 14rem;
  }
  .auth__checkboxlabel {
    max-width: 11rem;
  }
  .auth__pwdinfo {
    max-width: 12rem;
    font-size: 0.9rem;
  }
  .validation-error {
    max-width: 12rem;
  }
}

.profile {
  padding: 0 20rem;
  color: rgb(37, 37, 37);
}
.profile__container {
  margin-top: 1.5rem;
  padding: 2.5rem 5rem;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4rem;
}
.profile__container h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.profile__inputcontainer {
  margin-top: 1rem;
  display: flex;
}
.profile__pwdinputscontainer {
  margin-top: 1.5rem;
}
.profile__label {
  font-size: 1.8rem;
  font-weight: 700;
}
.profile__label-smaller {
  font-size: 1.6rem;
  font-weight: 700;
}
.profile__input {
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 0.1rem 0.3rem;
  border: 1px solid rgb(239, 239, 239);
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
}
.profile__input-darkerborder {
  border: 1px solid rgb(222, 222, 222);
}
.profile__button {
  margin: 2rem auto 0rem auto;
  border-radius: 15px;
  max-width: 11rem;
  background-color: rgb(79, 45, 153);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.profile__button-notactive {
  cursor: default;
  opacity: 50%;
}
.profile__button-active {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.profile__button-active:hover {
  background-color: rgb(50, 28, 99);
  color: rgb(250, 255, 148);
}
.profile__deletebutton {
  margin: 2rem auto 0rem auto;
  border-radius: 15px;
  max-width: 11rem;
  background-color: rgb(79, 45, 153);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.profile__deletebutton:hover {
  background-color: rgb(192, 12, 27);
  color: rgb(250, 255, 148);
}
.profile__containerForError {
  position: relative;
}
.profile__containerForError .validation-error {
  margin-left: 0.6rem;
}
.profile .auth__input-error {
  border: 1px solid red;
}

@media (max-width: 1350px) {
  .profile {
    padding: 0 12rem;
  }
}
@media (max-width: 1050px) {
  .profile {
    padding: 0 6rem;
  }
}
@media (max-width: 800px) {
  .profile {
    padding: 0 2rem;
  }
}
@media (max-width: 600px) {
  .profile {
    padding: 0 1rem;
  }
  .profile__label {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .profile__label-smaller {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .profile__input {
    font-size: 1.4rem;
    padding: 0.1rem 0.3rem;
  }
  .profile__pwdinputscontainer {
    margin-top: 0.5rem;
  }
}
@media (max-width: 490px) {
  .profile__container {
    padding: 2rem 1.5rem;
  }
  .profile__container h3 {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
  }
}
@media (max-width: 388px) {
  .profile__inputcontainer {
    flex-wrap: wrap;
  }
  .profile__input {
    margin-left: 0;
    margin-top: 0.3rem;
  }
}


.admin_panel {
  padding: 0 22rem;
  color: rgb(49, 49, 49);
}
.admin_panel__container {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4rem;
}
.admin_panel__container h3 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.admin_panel__inputcontainer {
  margin-top: 0.5rem;
  display: flex;
}
.admin_panel__label {
  font-size: 1.5rem;
  font-weight: 700;
}
.admin_panel__input {
  border-radius: 8px;
  font-size: 1.3rem;
  padding: 0.1rem 0.3rem;
  width: 19rem;
  border: 1px solid rgb(170, 170, 170);
  margin-left: 0.6rem;
  margin-bottom: 0.1rem;
}
.admin_panel__input-price {
  width: 10rem;
}
.admin_panel__input-file {
  width: 25rem;
}
.admin_panel__textarea {
  padding: 0.1rem;
  margin-left: 0.6rem;
  border-radius: 8px;
  width: 22rem;
  height: 8rem;
  font-size: 1.3rem;
  border: 1px solid rgb(170, 170, 170);
}
.admin_panel__button {
  margin: 2rem auto 0rem auto;
  border-radius: 15px;
  max-width: 14rem;
  background-color: rgb(79, 45, 153);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.admin_panel__button:hover {
  background-color: rgb(50, 28, 99);
  color: rgb(250, 255, 148);
}
.admin_panel__containerForError {
  position: relative;
}
.admin_panel__containerForError .validation-error {
  margin-left: 0.6rem;
}
.admin_panel__success {
  font-size: 1.2rem;
  color: rgb(2, 239, 61);
  margin-left: 0.3rem;
  max-width: 18rem;
}
.admin_panel .auth__input-error {
  border: 1px solid red;
}

@media (max-width: 1300px) {
  .admin_panel {
    padding: 0 10rem;
  }
}
@media (max-width: 1000px) {
  .admin_panel {
    padding: 0 5rem;
  }
}
@media (max-width: 800px) {
  .admin_panel {
    padding: 0 2rem;
  }
  .admin_panel__inputcontainer {
    flex-direction: column;
    gap: 0.4rem;
  }
  .admin_panel__label {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }
  .admin_panel__input,
  .admin_panel__textarea,
  .admin_panel__input-file,
  .admin_panel__input-price {
    width: 100%;
    margin-left: 0;
  }
  .admin_panel__containerForError .validation-error {
    margin-left: 0;
  }
  .admin_panel__button {
    width: 100%;
    max-width: none;
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .admin_panel {
    padding: 0 1rem;
  }
  .admin_panel__container {
    padding: 1.2rem 1.2rem;
  }
  .admin_panel__container h3 {
    font-size: 1.6rem;
  }
  .admin_panel__label {
    font-size: 1.2rem;
  }
  .admin_panel__input,
  .admin_panel__textarea {
    font-size: 1.1rem;
  }
  .admin_panel__button {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
}
